.center {
    text-align: center;
}

#joll_opp_outer {
    text-align: center;
    width: 100%;
}

#joll_adj_outer {
    text-align: center;
    width: 100%;
}

#explanation {
    position: fixed;
    bottom: 2px;
    right: 2px;
}

body {
    font-family: sans-serif;
}