.center {
    text-align: center;
}

#roll_box {
    border: 1px solid black;
    text-align: center;
    width: fit-content;
    margin:auto;
    padding: 10px 10px 10px 10px;
}

#joll_opp_outer {
    border: 1px solid black;
    text-align: center;
    width: fit-content;
    margin:auto;
    padding: 10px 10px 10px 10px;
}

#joll_adj_outer {
    border: 1px solid black;
    text-align: center;
    width: 100%;
    width: fit-content;
    margin:auto;
    padding: 10px 10px 10px 10px;
}

#explanation {
    position: fixed;
    bottom: 2px;
    right: 2px;
}

body {
    font-family: sans-serif;
}