.center {
    text-align: center;
}

#joll_opp_outer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
}

#joll_adj_outer {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif
}